# generated automatically by bun run convex:dev 
CONVEX_DEPLOYMENT="Convex Deployment"
VITE_CONVEX_URL="https:// .convex.cloud"
VITE_CONVEX_SITE_URL="https:// .convex.site"

# Convex ENVs
SECRET_STORE_KEYS="1:<openssl rand -base64 32>"
AISDK_MaxRetries="0" # 0: Disabled
LWC_SECRET="<openssl rand -hex 32>" # Convex env: signs ChatGPT Subscription sessions
