# generated automatically by bun run convex:dev 
CONVEX_DEPLOYMENT="Convex Deployment"
VITE_CONVEX_URL="https:// .convex.cloud"
VITE_CONVEX_SITE_URL="https:// .convex.site"

# Convex ENVs
Openrouter_API_Key="An API Key"
AISDK_MaxRetries="0" # 0: Disabled